@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Open+Sans:ital,wght@0,400;1,700&family=Roboto:wght@400;500;700&display=swap');

:root {
    --color-bg-primary: #FFFFFF;
    --color-bg-secondary: #1890FF;
    --color-bg-tertiary: #E6F7FF;

    --color-font-primary: #FFFFFF;
    --color-font-secondary: #000000;
    --color-font-tertiary: #7E7E7E;
    --color-font-quaternary: #BFBFBF;
    --color-font-quintenary: #F5F5F5;
}